/* Layout Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

/* Barra superior */
.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.header .title {
    display: flex;
    align-items: center;
}

.header .logo {
    width: 150px;
}

.header .search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
}

.search-input {
    border: none;
    padding: 5px 10px;
    width: 600px;
    border-radius: 20px;
}

.search-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 20px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

.user-options {
    display: flex;
    align-items: center;
}

.user-button {
    background-color: #007BFF;
    color: white;
    padding: 8px 16px;
    margin: 0 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user-button:hover {
    background-color: #0056b3;
}

.iconeperfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}

/* Galeria e Botões */
.image-gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 0;
}

.image-item {
    width: 100%;
    height: 100vh; /* As imagens ocupam a tela inteira */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.image-item.visible {
    opacity: 1;
    transform: translateY(0);
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-item {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    margin: 0;
    height: 100px;
}

button.gallery-button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button.gallery-button:hover {
    background-color: #0056b3;
    transform: scale(1.1);
}

/* Rolagem suave */
html {
    scroll-behavior: smooth;
}

/* Especificações para as páginas */
.client-page .user-button {
    background-color: #007BFF; /* Cor diferente para o cliente */
}

.technician-page .user-button {
    background-color: #007BFF; /* Cor diferente para o técnico */
}
